* {
    margin: 0;
    padding: 0;
}

/* -------------------------------- NAVEGADOR ------------------------------- */

header {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(184, 78, 29);
    margin: 1rem;
}

header h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

header nav {
    margin-bottom: 2rem;
}

header nav a {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}



.general {
    border: black solid 2px;
    background-color: rgb(184, 78, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

main div {
    margin-bottom: 0.5rem;
}

.btn{
    margin-top: 5px;
    margin-bottom: 5px;
}

.prod {
    margin-left: 5px;
    height: 33rem;
    width: 20rem;
    border: solid black 1px;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.imagenes{
    height: 8rem;
    width: 8rem;
}

/* --------------------------------- FOOTER --------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 4rem;
    margin: 1rem;
    border: solid black 2px;
    background-color: rgb(184, 78, 29);
}

footer a{
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}